<tr>
  <td>VL<%= flight.id %></td>
  <td><%= flight.start_datetime.strftime('%A, %B %e, %Y - %H:%M') %></td>
  <td><%= min_to_hours(flight.flight_duration) %></td>
  <td class="text-primary fw-bold">$1,245</td>
  <td><button class="btn btn-primary btn-sm">Book Now</button></td>
</tr>
