<div class="container text-center">
  <h2 class="mb-4">No Flights Found</h2>
  <p class="lead mb-4">We're sorry, but we couldn't find any flights matching your search criteria.</p>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Suggestions:</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Try different dates</li>
            <li class="list-group-item">Check for alternative airports nearby</li>
            <li class="list-group-item">Consider another date if possible</li>
            <li class="list-group-item">Broaden your search</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>